<h6>
<a id="gnulinux-administrator" class="anchor" href="#gnulinux-administrator" aria-hidden="true"><span class="octicon octicon-link"></span></a>GNU/Linux Administrator</h6>

<ul>
<li>e-mail: <a href="mailto:krle@lugons.org">krle@lugons.org</a>
</li>
</ul>

<h2>
<a id="personal-statement" class="anchor" href="#personal-statement" aria-hidden="true"><span class="octicon octicon-link"></span></a>Personal Statement</h2>

<blockquote>
<p>Hard-working, quick and efficient, a team player with excellent communication skills, and eager to take on new challenges. I have the ability to communicate, negotiate and coordinate events with business partners and service firms in variety of sectors. I am highly organized and able to prioritize effectively to accomplish multiple tasks.</p>

<p>I have actively used GNU/Linux since 2011. and for 1 year it has been the only system that I use.</p>
</blockquote>
