
<h2>
<a id="education" class="anchor" href="#education" aria-hidden="true"><span class="octicon octicon-link"></span></a>Education</h2>

<h3>
<a id="technician-of-electronics" class="anchor" href="#technician-of-electronics" aria-hidden="true"><span class="octicon octicon-link"></span></a>Technician of electronics</h3>

<blockquote>
<h6>
<a id="technical-middle-school-mihajlo-pupin-kikinda" class="anchor" href="#technical-middle-school-mihajlo-pupin-kikinda" aria-hidden="true"><span class="octicon octicon-link"></span></a>Technical middle school "Mihajlo Pupin" Kikinda</h6>

<p>Mihajlo Pupin Kikinda Middle School
Business machinery mechanic</p>
</blockquote>
