<h6>
  <a
    id="gnulinux-administrator"
    class="anchor"
    href="#gnulinux-administrator"
    aria-hidden="true"
    >
      <span class="octicon octicon-link"></span>
  </a>
  GNU/Linux Administrator
</h6>

<ul>
  <li>e-mail:<a href="mailto:{{ user.email }}">{{ user.email}}</a></li>
</ul>

{% for personal in personal_list %}
<h2>
  <a
    id="personal-statement"
    class="anchor"
    href="#personal-statement"
    aria-hidden="true"
  >
    <span class="octicon octicon-link"></span>
  </a>
  {{ personal.title }}
</h2>

<blockquote>
  {{ personal.description|linebreaks }}
</blockquote>
{% endfor %}
